<h1>Hello World!</h1>

<h2>The restaurants:</h2>

<%= link_to 'Create restaurant', new_restaurant_path %>

<ul>
 <% @restaurants.each do |restaurant| %>
   <li>
     <strong>
       <%= link_to restaurant.name, restaurant_path(restaurant) %>
     </strong>
     <%= link_to 'edit', edit_restaurant_path(restaurant) %>
     <%= link_to 'delete', restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
   </li>
 <% end %>
</ul>
